{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="info row">
      <div class="col-lg-3">
        <img width="200" src="{{ book.photo_url }}" alt="{{ book.name }}">
      </div>

      <div class="col-lg-6">
        <h2>{{ book.name }}</h2>
        <h4>By: {{ book.author }}</h4>
        <span>rate: {{ book.rate }}</span>
        <h3 class="border">Price: ${{ book.price }}</h3>
        <p>condition: {{ book.condition }}</p>
        <h4>Summary</h4>
        <p>{{ book.summary }}</p>
      </div>
      <div class="col-lg-3 border d-flex align-content-center justify-content-center flex-wrap">
        <a href="#" class="btn btn-info mb-3 mr-3">Add to basket</a>
        <a href="#" class="btn btn-info mb-3 mr-3">Add to Wishlist</a>
      </div>
    </div>

    <div class="details ">
      <h3 class="col-12 ">Details:</h3>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Author:</th>
            <td>{{ book.author }}</td>
          </tr>
          {% if book.published %}
            <tr>
              <th scope="row">Published:</th>
              <td>{{ book.published }}</td>
            </tr>
          {% endif %}
          {% if book.age_range %}
            <tr>
              <th scope="row">Age range:</th>
              <td>{{ book.age_range }}</td>
            </tr>
          {% endif %}
          {% if book.pages %}
            <tr>
              <th scope="row">Pages:</th>
              <td>{{ book.pages }}</td>
            </tr>
          {% endif %}
          {% if book.publisher %}
            <tr>
              <th scope="row">Publisher:</th>
              <td>{{ book.publisher }}</td>
            </tr>
          {% endif %}
          {% if book.language %}
            <tr>
              <th scope="row">Language:</th>
              <td>{{ book.language }}</td>
            </tr>
          {% endif %}
          {% if book.category_id %}
            <tr>
              <th scope="row">Category:</th>
              <td>{{ category }}</td>
            </tr>
          {% endif %}
          {% if book.height %}
            <tr>
              <th scope="row">Height:</th>
              <td>{{ book.height }}</td>
            </tr>
          {% endif %}
          {% if book.width %}
            <tr>
              <th scope="row">Width:</th>
              <td>{{ book.width }}</td>
            </tr>
          {% endif %}
          {% if book.depth %}
            <tr>
              <th scope="row">Depth:</th>
              <td>{{ book.depth }}</td>
            </tr>
          {% endif %}
          {% if  book.weight %}
            <tr>
              <th scope="row">Weight:</th>
              <td>{{ book.weight }}</td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>

    {% if book.about_author %}
      <div class="author row mt-5">
        <h3 class="border-bottom col-12">About the author</h3>
        <h4 class="col-12">{{ book.author }}</h4>
        <p class="col-8">{{ book.about_author }}</p>
      </div>
    {% endif %}
  </div>

{% endblock %}
