{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="info row">
      <div class="col-lg-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSphZ9de4QsCBIFJPY4Kb6slUAxCdGGlyccFA&usqp=CAU" alt="">
      </div>

      <div class="col-lg-6">
        <h2>Men are from Mars</h2>
        <h4>By: John Gray</h4>
        <span>rate: 3.9</span>
        <h3 class="border">Price: $7.99</h3>
        <p>condition: New</p>
        <h4>Summary</h4>
        <p>Once upon a time Martians and Venusians met, fell in love, and had happy relationships together because they respected
           and accepted their differences. Then they came to Earth and amnesia set in: they forgot they were from different planets.
  Based on years of successful counseling of couples and individuals, Men Are from Mars, Women Are from Venus has helped millions of
   couples transform their relationships. Now viewed as a modern classic, this phenomenal book has helped men and women
   realize how different they really are and how to communicate their needs in such a way that conflict doesn't arise and intimacy is
    given every chance to grow!!!!</p>
      </div>
      <div class="col-lg-3 border d-flex align-content-center justify-content-center flex-wrap">
        <a href="#" class="btn btn-info mb-3 mr-3">Add to basket</a>
        <a href="#" class="btn btn-info mb-3 mr-3">Add to Wishlist</a>
      </div>
    </div>

    <div class="details ">
      <h3 class="col-12 ">Details:</h3>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Author:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Published:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Age range:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Pages:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Publisher:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Language:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Category:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Height:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Width:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Depth:</th>
            <td>John Gray</td>
          </tr>
          <tr>
            <th scope="row">Weight:</th>
            <td>John Gray</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="author row mt-5">
      <h3 class="border-bottom col-12">About the author</h3>
      <h4 class="col-12">John Gray:</h4>
      <p class="col-8">John Gray is an American author on relationships and personal growth, best known for his 1992 book Men Are from Mars, Women Are from Venus, and other "pop psychology" books offering relationship advice.

He was previously married to fellow self-help author Barbara De Angelis, but they divorced in 1984. He is now married to Bonnie Gray and has three daughters.</p>
    </div>
  </div>

{% endblock %}
